@import "/Assets/Css/main.css";
@import "/Assets/Css/projetos.css";
@import "/Assets/Css/servicos.css";
@import "/Assets/Css/depoimentos.css";
@import "/Assets/Css/novidades.css";
@import "/Assets/Css/footer.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Afacad Flux", serif;
}
body {
    background-color: #FAF3E0; 
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 250px;
    margin: 0 auto;
    height: 100%;
}
hr {
    width: 100%;
}
section {
    width: 100%;
    height: 100%;
}
/*Fim códigos gerais*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2rem);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.678);
    z-index: 99;
}
.header .img-logo {
    width: 100%;
    justify-content: center;
    display: flex;
}
.img-logo img{
    width: 6rem;

}
.navbar .navegacao ul {
    display: flex;
    justify-content: space-around;
    max-width: 250px;
    margin: 0 auto;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.navegacao a {
    color: #0B610B;
    font-size: 1rem;
}
.navegacao li:hover {
    border-bottom: 1px solid #0B610B;
}

/*Fim Cabeçalho*/

/*RESPONSIVIDADE 414PX*/
@media screen and (min-width: 414px) {
    .container {
        max-width: 300px;
    }
    .img-logo img{
        width: 8rem;
    }
    .navbar .navegacao ul {
        max-width: 300px;
        gap: 0.5rem;
    }
}
/*RESPONSIVIDADE481PX*/
@media screen and (min-width: 481px){
    .container {
        max-width: 400px;
    }
    .img-logo img{
        width: 10rem;
    }
    .navbar .navegacao ul {
        max-width: 350px;
        gap: 0.5rem;
    }
}
/*RESPONSIVIDADE 768PX*/
@media screen and (min-width: 768px){
    .container {
        max-width: 600px;
    }
    .img-logo img{
        width: 11rem;
    }
    .navbar .navegacao ul {
        max-width: 500px;
        gap: 0.5rem;
    }
}
/*RESPONSIVIDADE 1025PX*/
@media screen and (min-width: 1025px){
    .container {
        max-width: 700px;
    }
    .img-logo img{
        width: 12rem;
    }
    .navbar .navegacao ul {
        max-width: 700px;
        gap: 0.5rem;
    }
}
/*RESPONSIVIDADE 1281PX*/
@media screen and (min-width: 1281px){
    .container {
        max-width: 1000px;
    }
    .navbar .navegacao ul {
        max-width: 1000px;
        gap: 1rem;
    }
    .navegacao a {
        font-size: 1.2rem;
    }
}
