.servicos {
    position: relative;
}

.servicos .titulo-servicos {
    margin-top: 5rem;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.servicos .paragrafos-explicativos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.3rem;
    font-size: 1rem;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.paragrafos-explicativos p {
    width: 100%;
}

.linha-separadora {
    min-width: 100%;
    position: relative;
    margin-top: 2rem;

}

.linha-separadora .linha {
    width: 100%;
    height: 0.2rem;
    background-color: black;
    position: absolute;
}

.linha-separadora .spans {
    font-size: 0.8rem;
    gap: 0.5rem;
    display: flex;
}

.servicos .subtitulo-servicos {
    margin-top: 10rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.servicos .box-servicos {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 2rem;
}
.box-servicos .box-s {
    display: flex;
    align-items: center;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    border-radius: 1rem;
    gap: 1rem;
    background-color: #F5FFFA;
}

.box-s img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
}

.box-s button {
    padding: 0.4rem 4rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #0B610B;
    color: #F5FFFA;
    cursor: pointer;
}

.box-s p {
    padding-bottom: 1rem;
}

.box-servicos .box-s:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.678);
    transform: translateY(-0.1rem) scale(1.01);
    transition: 0.5s;
}
/*RESPONSIVIDADE 414PX*/
@media screen and (min-width: 414px) {
    .servicos .titulo-servicos {
        font-size: 1.5rem;
    }

    .box-servicos .box-s {
        width: 100%;
    }

    .box-s button {
        padding: 0.5rem 5rem;
    }
    .servicos .subtitulo-servicos {
        font-size: 1.2rem;
    }
}
/*RESPONSIVIDADE 480PX*/
@media screen and (min-width: 480px) {
    .servicos .titulo-servicos {
        font-size: 1.6rem;
    }

    .box-servicos .box-s {
        width: 85%;
    }

    .box-s button {
        padding: 0.5rem 6rem;
    }
    .servicos .subtitulo-servicos {
        font-size: 1.4rem;
    }
}
/*RESPONSIVIDADE 768PX*/
@media screen and (min-width: 768px) {
    .servicos .titulo-servicos {
        font-size: 1.7rem;
    }
    .servicos .paragrafos-explicativos {
        font-size: 1.3rem;
    }
    .linha-separadora .spans {
        font-size: 1.3rem;
        gap: 4rem;
        display: flex;
    }
    .projetos .box-servicos {
        justify-content: space-around;
        gap: 1.5rem;
    }
    .box-servicos .box-s {
        width: 45%;
    }
    .box-s  button{
        padding: 0.4rem 5rem;
    }
}
/*RESPONSIVIDADE 1025PX*/
@media screen and (min-width: 1025px){
    .servicos .titulo-servicos {
        font-size: 1.8rem;
    }
    .servicos .subtitulo-servicos {
        font-size: 1.7rem;
    }
}
/*RESPONSIVIDADE 1281PX*/
@media screen and (min-width: 1281px) {
    .servicos .titulo-servicos {
        font-size: 1.9rem;
    }
    .servicos .paragrafos-explicativos {
        font-size: 1.5rem;
    }
    .linha-separadora .spans {
        font-size: 1.5rem;
        gap: 6rem;
        margin: 0.1rem;
    }
    .servicos .subtitulo-servicos {
        font-size: 1.8rem;
    }
    .box-servicos .box-s {
        width: 30%;
    }
    .box-s  button{
        padding: 0.5rem 5rem;
    }
}
/*RESPONSIVIDADE 1367PX*/
@media screen and (min-width: 1367px){
    .servicos .titulo-servicos {
        font-size: 2rem;
    }
    .servicos .paragrafos-explicativos {
        font-size: 1.6rem;
    }
    .linha-separadora .spans {
        margin: 0.2rem;
    }
    .servicos .subtitulo-servicos {
        font-size: 2rem;
    }
    .box-servicos .box-s {
        width: 31%;
    }
}